$appPrimaryBackground: #2c2c2c;
$appSecondaryBackground: #F5F5F6;
$primaryColor: #aa00ff;
$primaryLightColor: #e254ff;
$primaryDarkColor: #7200ca;
$secondaryColor: #311b92;
$secondaryLightColor: #6746c3;
$secondaryDarkColor: #000063;
$primaryText: #ffffff;
$secondaryTextColor: #eceff1;
