@import './../../assets/css/global';

.nav-bar {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 12px;
  height: 60px;
  background: $primaryColor;
  z-index: 100;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 1);
}
.nav-item {
  display: inline-flex;
  margin: 0px 12px;
  text-decoration: none;
  align-items: center;
  font-size: 20px;
  color: $primaryText;
  padding: 0 12px;
}
.layout {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  width: 100vw;
  height: 100vh;
  background: $appPrimaryBackground;
  padding: 84px 24px 24px 24px;
}
.content {
  border-radius: 8px;
  background: $appSecondaryBackground;
  width: 100%;
  height: auto;
  display: flex;
  min-height: 1px;
  max-height: 100%;
  flex: 1 1 100%;
}
